
body::-webkit-scrollbar{
    width: 10px;
    height: 10px;
}


body::-webkit-scrollbar-thumb{
    background: #DBA740;
    border-radius: 50px;
}



.frm{
    border: 1px solid white;
    width: 490px;
    border-radius: 15px;
}

.txt{

    color: white;
    background: #ffffff00;
    border: 2px solid white;
    border-radius: 15px;

    margin-right: 15px;
    margin-left: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 450px;
}

.txt:focus{
    background: #ffffff00;
    color: white;
}

.txt::placeholder{
    color: white;
}


.txt2{
    color: white;
    background: #ffffff00;
    border: 2px solid white;
    border-radius: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 220px;
}




.txt2:focus{
    background: #ffffff00;
    color: white;
}

.txt2::placeholder{
    color: white;
}

.btn_g{
    margin: 10px;
    width: 150px;
}